<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="../css/logout.css" />
  </head>

  <body>
    <h2 class="welcome">Welcome to Users Module</h2>
    <div class="container">
      <div>
        <h4>Existing Users</h4>
        <form action="/login" method="get">
          <button class="btn">Login</button>
        </form>
      </div>
      <div>
        <form action="/register" method="get">
          <h4>New users</h4>
          <button class="btn">Register</button>
        </form>
      </div>
      <h5>You have been logged out</h5>
    </div>
  </body>
</html>
