* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 0.1vmin;
}
.message {
  /* background-color: #ed4337; */
  text-align: center;
  font-size: 20px;
  color: red;
}
.login {
  text-align: center;
  margin: 3vmin;
  margin-top: 15vmin;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container div {
  margin: 3vmin;
  margin-right: 6rem;
}
.container div label {
  display: inline-block;
  width: 5em;
  margin-right: 1em;
  text-align: right;
  font-weight: bold;
}
.container div input {
  padding: 1vmin;
}
.login-btn {
  text-align: center;
}
.login-btn button {
  margin: 2vmin;
  padding: 0.8vmin;
  width: 9em;
  border-radius: 1.5vmin;
  background-color: #00ffff;
}
.login-btn button:hover {
  background-color: #808080;
  color: white;
}
